@model IEnumerable<EntityLayer.Concrete.Dorm>
    
    <!-- Head -->
<div class="container mt-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="heading mt-5 mb-5">
                <div class="card card_head_1">
                    <div class="card-body">
                        <h1 class="text-center ">@item.DormName</h1>
                    </div>
                </div>
            </div>

            @Html.Action("DormSlider")

          
            @*<div class="col-4 mt-5 ms-5 "><img class="dorm_img" src="@item.DormImage" alt=""></div>*@

        }
    </div>
</div>

<!-- Head-End -->
