 @model IEnumerable<EntityLayer.Concrete.Comment>
    
    <!--Comment-input  -->
<div class="heading mt-5">
    <div class="card card_head_1_5 ms-5">
        <div class="card-body">
            <h1 class="text-center ">Kullanıcı Yorumları</h1>
        </div>
    </div>
</div>
<div class="container mb-5 mt-5">
    <div class="row">
        
        <div class="col">

            <h2 class="text-center me-2 mt-1 ">Yorum Yaz </h2>

            <div class="input col-6 offset-3">
                <form method="post">
                    <div class="form-group mt-4">
                        <label for="exampleFormControlInput1">İsminiz</label>
                        <input type="text" class="form-control" name="CommentName" id="exampleFormControlInput1" placeholder="İsminiz">
                    </div>
                    <input type="hidden" name="DormID" value="@ViewBag.id" />

                    <div class="form-group mt-3">
                        <label for="exampleFormControlTextarea1">Yorumunuz</label>
                        <textarea class="form-control" name="CommentText" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn dorm_write_1 mt-4 ">Gönder</button>
                </form>
            </div>
        </div>
    </div>
</div>
