 <!-- İtem-Card -->
<div class="container mt-5">
    <div class="head p-5">
        <h1>En Popüler Yurtlar</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <a href="dormitori_main.html">
                <div class="card citi_card_12 ">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="...">
                    <div class="card-body citi_card_12">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col ">
            <a href="dormitori_main.html">
                <div class="card citi_card_12">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="...">
                    <div class="card-body citi_card_12">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div><div class="col">
            <a href="dormitori_main.html">
                <div class="card citi_card_12">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="...">
                    <div class="card-body citi_card_12">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="dormitori_main.html">
                <div class="card citi_card_12">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="...">
                    <div class="card-body citi_card_12">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div><div class="col">
            <a href="dormitori_main.html">
                <div class="card citi_card_12">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="...">
                    <div class="card-body citi_card_12">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div><div class="col">
            <a href="dormitori_main.html">
                <div class="card citi_card_12">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="...">
                    <div class="card-body citi_card_12">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- İtem-Card-End -->
