 <!-- cities-Slider -->

@*<div class="heading  d-xl-none d-xxl-none ">
    <div class="card card_head_1 card_heading_1">
        <div class="card-body">
            <h1 class="text-center ">İller</h1>
            

           
        </div>
    </div>
</div>*@








<!-- cities-Slider-End -->
