 <!-- cities-Slider -->

<div class="heading  d-xl-none d-xxl-none ">
    <div class="card card_head_1 card_heading_1">
        <div class="card-body">
            <h1 class="text-center ">İller</h1>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col">
            <div class="conter  ">
                <div class="slider"></div>
                <ul class="nav">
            </div>
            <div data-target='right' class="side-nav side-nav--right"></div>
            <div data-target='left' class="side-nav side-nav--left"></div>
        </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>


    </div>
</div>
   




<!-- cities-Slider-End -->
