 <!-- Footer -->

<div class="container mt-5 pt-5 me-5 footer ps-5 ">
    <footer class="py-5">
        <div class="row">
            <div class="col-lg-3 col-4  ">
                <h5>Menü</h5>
                <ul class="mt-3 flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Yurtlar</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Üniversiteler</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Şehirler</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Yurt Fiyatları</a></li>
                    
                </ul>
            </div>

            <div class="col-lg-3 col-4">
                <h5>Yasal Bilgiler</h5>
                <ul class="mt-3 flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Kullanım Koşulları</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Gizlilik Politikası</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Yasal Uyarı</a></li>
                  
                </ul>
            </div>

            <div class="col-lg-2 col-4">
                <h5>Sosyal Medyalar </h5>
                <ul class="mt-3 flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">İnstagram</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Facebook</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">LinkedIn</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Twitter</a></li>
                   
                </ul>
            </div>

            <div class="col-2 offset-lg-1 d-none d-lg-block d-xl-block">
                <a href="index.html"><img class="footer_img" src="~/frontend-dorm/assets/Logo.png" alt=""></a>
            </div>
        </div>

        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>© 2022 Senin Yurdun Tüm Hakları Saklıdır.</p>
          
        </div>
    </footer>
</div>
