@model IEnumerable<EntityLayer.Concrete.About>

<div class="heading mt-4">
    <div class="card card_head_1">
        <div class="card-body">
            <h1 class="text-center ">En Popüler Yurtlar</h1>
        </div>
    </div>
</div>
<!-- Slider -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="cont  ">
                <div class="slider"></div>
                <ul class="nav">
            </div>
            <div data-target='right' class="side-nav side-nav--right"></div>
            <div data-target='left' class="side-nav side-nav--left"></div>
        </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

        <script src="~/frontend-dorm/js/slider.js"></script>
    </div>
</div>


<!-- Slider-End -->

<div class="container main_header_">
    <div class="head text-center mt-5 mb-3 p-4">
        <div class="card card_head_2">
            <div class="card-body card_head_2">
                <h5 class="head_title_1 d-inline-block ">Senin Yurdunu Beraber Bulalım</h5>
                <i class="fa-solid fa-magnifying-glass float-end mt-2 "></i>
            </div>
        </div>


    </div>
</div>
<!-- Layout -->
<div class="container mt-lg-5 d-none d-lg-block d-xl-block me-5 ">
    <div class="row ms-5">
        <div class="col-3 ps-3 ">
            <select class="form-select  " aria-label="Default select example">
                <option selected>Şehir Seçiniz</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-3 ps-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Üniversite Seçiniz</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-3 ps-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Yurt Tipi Seçiniz</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-3 ps-5">
            <button class="btn btn-primary" type="submit">Yurt Ara</button>
        </div>
    </div>
</div>
<!-- Layout-End -->
<!-- Layout-Responsive -->
<div class="container d-xl-none d-xxl-none d-md-none">
    <div class="row">

        <div class="col-9 offset-1 ps-4 mb-3 selectwrap ">
            <select class="form-select form_resp " aria-label="Default select example">
                <option selected>Şehir Seçiniz</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-9 offset-1 ps-4 mb-3">
            <select class="form-select form_resp" aria-label="Default select example">
                <option selected>Üniversite Seçiniz</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-9 offset-1 ps-4 mb-3">
            <select class="form-select form_resp" aria-label="Default select example">
                <option selected>Yurt Tipi Seçiniz</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <button class="btn btn_resp mt-2" type="submit"><i class="fa-solid fa-magnifying-glass"></i>  <h5 class="d-inline-block ps-5 pe-5">Yurt Ara</h5></button>
</div>



<!-- Layout-Responsive-End -->
<!-- Why-Wrap-web -->
<!-- Why-Wrap-web-End  -->

<div class="container  abaout d-none d-lg-block d-xl-block">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12">
                <div class="heading">
                    <h1>Neden Ve Nasıl</h1>
                </div>
            </div>


            <div class="col-lg-6 col-12 mt-4 pb-lg-4">
                <div class="text">
                    <p>@item.AboutContent</p>



                    <!-- Button web -->
                    <div class="btn float-start mt-4 d-none d-lg-block d-xl-block ">
                        <a href="about.html" class="cta">
                            <span>Daha Fazla</span>
                            <svg width="13px" height="10px" viewBox="0 0 13 10">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        </a>
                    </div>
                    <!-- Button Web End -->
                </div>
            </div>
        }
    </div>
</div>

