 @model IEnumerable<EntityLayer.Concrete.News>
    
    <!-- News -->

<div class="heading mt-5 pt-5 d-xl-none d-xxl-none ">
    <div class="card card_head_1 card_heading_1">
        <div class="card-body">
            <h1 class="text-center ">Üniversitelerden ve yurttan haberler</h1>
        </div>
    </div>
</div>
<h1 class="text-center mt-5 d-none d-lg-block d-xl-block  card_heading_2">Üniversitelerden ve yurttan haberler</h1>

<div class="container ">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-12 col-lg-6 col-md-12">
                <div class="card spons">
                    <div class="card-body">
                        <a href="@item.NewsLink"><p>@item.NewsTitle</p></a>

                    </div>
                </div>
            </div>
        }
    </div>
    </div>




<!-- News-End -->
