 <!-- News -->

<div class="heading mt-5 pt-5 d-xl-none d-xxl-none ">
    <div class="card card_head_1 card_heading_1">
        <div class="card-body">
            <h1 class="text-center ">Üniversitelerden ve yurttan haberler</h1>
        </div>
    </div>
</div>
<h1 class="text-center mt-5 d-none d-lg-block d-xl-block  card_heading_2">Üniversitelerden ve yurttan haberler</h1>

<div class="container mt-4">
    <div class="row">

        <div class="col-lg-4 mb-4 ps-5">
            <div class="card card_news" style="width: 18rem; background-color: white !important;">
                <img src="https://picsum.photos/200" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 ps-5">
            <div class="card card_news" style="width: 18rem; background-color: white !important;">
                <img src="https://picsum.photos/200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 ps-5">
            <div class="card card_news" style="width: 18rem; background-color: white !important;">
                <img src="https://picsum.photos/200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
            </div>
        </div>
    </div>
</div>




<!-- News-End -->
