 <!-- İtem-Card -->
<div class="heading mt-4 d-xl-none d-xxl-none ">
    <div class="card card_head_1">
        <div class="card-body">
            <h1 class="text-center ">En Çok Aranan Yurtlar</h1>
        </div>
    </div>

</div>

<h1 class="text-center mt-5 d-none d-lg-block d-xl-block slid">Popüler Yurtlar</h1>
<div class="container mb-5">
    <div class="row">
        <div class="col">
            <div class="conte mb-5 ">
                <div class="slider"></div>
                <ul class="nav">
            </div>
            <div data-target='right' class="side-nav side-nav--right"></div>
            <div data-target='left' class="side-nav side-nav--left"></div>
        </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>


    </div>
</div>

       

<!-- İtem-Card-End -->
