<!-- Form  -->
<div class="container mt-5 bg-white price_col pb-3 pt-3">
    <div class="row">
        <div class="col-8 ">
            <h1>Yurtlar Seni Arasın </h1>
            <h3>Yurt Fiyatlarını öğrenebilirsin</h3><br>
            <input class="form-control" type="text" placeholder="Ad Soyad" aria-label="default input example">

            <label for="exampleDataList" class="form-label"></label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Üniversite Seçiniz">
            <datalist id="datalistOptions">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">
            </datalist>
            <label for="exampleDataList" class="form-label"></label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Fakülte Seç">
            <datalist id="datalistOptions">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">
            </datalist>
            <label for="exampleDataList" class="form-label"></label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Yurt Tipi Seç">
            <datalist id="datalistOptions">
                <option value="Kız Yurdu">
                <option value="Erkek Yurdu">
            </datalist>
            <div class="form-check mt-4">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Kullanıcı Sözleşmesi'ni okudum,kabul ediyorum.
                </label>
                <div class="whatsapp float-end">
                    <a href="https://api.whatsapp.com/send?phone=1111111111"><h4 class="d-inline whatsapp">Whatsapp</h4><i class="fa-brands fa-whatsapp ms-2 whatsapp"></i></a>
                </div>
            </div>






        </div>
    </div>
</div>


<!-- Form-End -->
