<!-- İnfo-Text -->
<div class="heading mt-5">
    <div class="card card_head_1">
        <div class="card-body">
            <h1 class="text-center ">Yurt Fiyatları Cebine Gelsin</h1>
        </div>
    </div>

</div>
<div class="card card_head_2 mt-5">
    <div class="card-body card_head_2">
        <h6 class="head_title_1_2 d-inline-block ">Yurt fiyatlarını öğrenmek için tek tek yurtları arama, hiçbir ücret ödemeden yurtlar seni arasın! Kazandığın üniversiteyi seç, bölgedeki yurtlar imkanları ve güncel fiyatları ile ilgili sms veya telefon yoluyla sana bilgi versin.</h6>

    </div>
</div>


<!-- İnfo-Text-End -->
