

<div class="container">
    <div class="head text-center mt-5 mb-5 p-4">
        <h1>Şehrindeki Yurtlar Burada!</h1><br><br>
        <p>Şehrindeki tüm yurtları bulabilir, yurtlar hakkında bilgi alabilir, yurtlarla iletişime geçerek oda fiyatlarını öğrenebilirsin!</p>
    </div>
</div>
<!-- Layout -->
<div class="container mt-lg-5 d-none d-lg-block d-xl-block me-5 ">
    <div class="row ms-5">
        <div class="container mt-lg-5 d-none d-lg-block d-xl-block me-5 ">
            <div class="row ms-5">
                <div class="col-8 ms-5">
                    <input class="form-control" type="text" placeholder="Şehir Adı" aria-label="default input example">
                </div>

                <div class="col-3 ps-3">
                    <button class="btn btn-primary" type="submit">Şehir Ara</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Layout-End -->

