@model EntityLayer.Concrete.District


@{
    ViewBag.Title = "DistrictNew";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.Label("Sehir")
    @Html.DropDownListFor(x => x.CityID, (List<SelectListItem>)ViewBag.values, new { @class = "form-control" })
    <br />
    @Html.Label("İlçe Adı")
    @Html.TextBoxFor(x => x.DistrictName, new { @class = "form-control" })


    <button class="btn btn-rounded btn-success mt-3"> Kaydet</button>
</form>


