
@{
    ViewBag.Title = "SocialMediaNew";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form>
    <div class="form-group">
        <label for="inputText3" class="col-form-label">Sosyal Medya Adı</label>
        <input id="inputText3" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="inputText3" class="col-form-label">Sosyal Medya Linki</label>
        <input id="inputText3" type="text" class="form-control">
    </div>
    <button class="btn btn-rounded btn-success mt-3"> Kaydet</button>
</form>


