  <!-- Heading -->
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Üniversitene Yakın Yurtlar Burada!</h1><br>
            <p>Üniversitene yakın en popüler yurtları bulabilir, fakültene göre kampüse en yakın yurtlara kolayca ulaşabilirsin!</p>
        </div>
    </div>
</div>


<!-- Heading-End -->

<div class="container mt-lg-5 d-none d-lg-block d-xl-block me-5 ">
    <div class="row ms-5">
        <div class="col-8 ms-5">

            <input class="form-control" type="text" placeholder="Üniversite Adı" aria-label="default input example">

        </div>

        <div class="col-3 ps-3">
            <button class="btn btn-primary" type="submit">Üniversite Ara</button>
        </div>
    </div>
</div>
